__pycache__/
*.pyc
.env
*.ab
Auth/secrets.json
Auth/aas_token_cache.json
Auth/owner_key_cache.json
Auth/shared_key_cache.json
Auth/username_cache.json
Auth/android_id_cache.json
extracted_keys.json
*.egg-info/
dist/
build/
.venv/
venv/
